* {
    background-color: brown;
}

.grid {
    width: 612px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
    
}

.table {
    align-items: center;
    justify-content: center;
    display: flex;
}

.progress {
    text-align: center;
    color: bisque;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 2px;
    border-radius: 3px;
}

.mole {
    background-image: url('./image/mole.jpg');
    background-size: cover;
}